/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button a{
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 10%;
}

/* Font */
.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

.grotesque {
    font-family: 'Darker Grotesque', sans-serif;    
}

/* Float */
.clearfix::after {
    content: '';
    display: table;
    clear:both
}

.floatl {
    float: left;
}

.floatr {
    float:right;
}

/* Box */
.lbox {
    width: 50%;
}

.rbox {
    width: 50%;
}

/* Header */
header {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0px;
    z-index: 900;
    border-bottom: 1px solid #d0d0d3;
}

/* Header - logo */
header .logo {
    height: 100%;
    width: 12%;
}

header .logo a {
    height: 100%;
    line-height: 70px;
    text-decoration: none;
    font-size: 25px;
    padding: 0 10px;
}

header .logo a i{
    color:#0061ff;
    vertical-align: middle;
}

header .logo a span {
    font-weight: bold;
    color: #000;
}

/* header - nav */
header nav {
    width: 73%;
    height: 100%;
    line-height: 70px;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 28px 0;
}

header ul li:hover a{
    border-bottom: 2px solid #000;
}

/* header - bottone */
header .buttonholder {
    width: 10%;
    height: 100%;
}

header .buttonholder a:hover {
    background-color: skyblue;
}

.buttonholder a {
    background-color: #0061ff;
    color: white;
    height: 100%;
    line-height: 70px;
    text-decoration: none;  
    font-size: 20px;
    margin: 0 20%;
    padding: 0 20% 5px;
}

/* Jumbotron */
.jumbotron {
    height: 700px;
    background-color: #b4d0e7;
    width: 100%;
}

.jumbo-container {
    width: 90%;
    margin: 0px 5%;
    height: 100%;
    background-color: transparent;
    position:relative;
}

.jumbo-container h1 {
    font-size: 90px;
    line-height: 1;
    color: black;
    position:absolute;
    top: 100px;
    left: 0px
}

.jumbo-container p {
    padding-top: 20px;
    position: absolute;
    top: 300px;
    left: 0px;
    width: 30%;
    font-size: 25px;
    line-height: 1;
}

.jumbo-button {
    width: 50px;
}

.jumbo-button a {
    position: absolute;
    top:500px;
    left:0px;
    background-color: #0061ff;
    padding: 7px 2% 13px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.jumbo-button:hover a{
    background-color: skyblue;
}

.jumbotron p.small {
    padding: 0;
    font-size: 14px;
    position:absolute;
    top: 550px;
    left:0px;
}

.jumbotron a i {
    color:#0061ff;
    position:absolute;
    top: 600px;
    left: 0px;
    font-size: 80px;
}

.jumbotron img {
    width:65%;
    position:absolute;
    top: 45%;
    right:0px;
}

section h2 {
   font-size: 60px;
   padding: 40px 0 20px; 
}

#piani-container {
    width: 80%;
    margin: 0 10%;
    padding-top: 100px;
}

/* Main */
.fatturazione {
    width: 100%;
    padding: 50px 0 50px;
    font-size: 20px;
}

.fatturazione span {
    padding: 0 5px;
    cursor: pointer;
}

.fatturazione span:not(:last-child) {
    margin-right: 20px;
}


#sel {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 5px solid #0061ff;
    vertical-align: middle;
}

.unsel {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #d0d0d3;
    vertical-align: middle;
}

#sel, .unsel {
    cursor: pointer;
}

main .piani .col {
    width: calc((100% / 3) - 20px); 
    font-size: 20px;
    border: 1px solid #d0d0d3;
    min-height: 1380px;
}

main .piani .col.mid {
    margin: 0px 30px;
}

main .piani .col p.head {
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 10px;
}

main .piani .col i {
    margin-right: 10px;
}

.col-inside {
    margin: 10%;
}

.col-inside h3 {
    font-size: 30px;
}

.col-inside p {
    color: gray;
    margin-bottom: 10px;
}

.col-inside p strong{
    color: initial;
    display: block;
    padding: 10px 0 5px;
}

.col-inside ul {
    padding: 20px 0;
    list-style-type: none;
}

.col-inside ul li {
    padding: 15px 0;
}

.col-inside ul li span,
.col-inside ul li i {
    display: inline-block;
}

.col-inside ul li span {
    width: 80%;
    vertical-align: text-top;
}


.col-inside li::before {
    margin-right: 10px;
}

.col-inside .button a{
    background-color: #0061ff;
    color: white;
    padding: 5px 25px 8px;
}

.col-inside .button {
    padding-bottom: 15px;
}

.col-inside a {
    color: #0061ff;
}

.col-inside .line {
    content: '';
    width: 20%;
    height: 1px;
    border-bottom: 1px solid #bfbfbf;
    padding: 20px 0;
}

.col-inside h4 {
    padding: 20px 0;
}

.col-inside. h4.bottompad{
    padding-bottom: 100px;
}

.col-inside ul.checked {
    padding-bottom: 20px;
}

.col-inside ul.checked i{
    color: #0061ff;
    vertical-align: middle;
}

.row {
    padding-top: 50px;
    width: 100%;
}

.row-inside {
    border: 1px solid #d0d0d3;
    position:relative;
}

.row-inside h3 {
    font-size: 30px;
    padding:20px 25px;
}

.row-inside p.head {
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 20px 0;
}

.row-inside .button {
    position: absolute;
    right:20px;
    top: 95px;
    /* width: 20px; */
}

.row-inside .button a {
    color: white;
    background-color: #0061ff;
    padding: 5px 50px 10px;
    font-size: 20px;
}

.row-inside a:hover {
    background-color: skyblue;
}

.row-inside h4 {
    padding:20px 25px;
    font-size: 22px;
}

.row-inside p:not(.head) {
    padding:20px 25px;
    font-size: 22px;
    font-size: 18px;
}

.row .rbox {
    width: 50%;
    padding: 5%;
}

.row .rbox p {
    padding: 30px 0;
    font-size: 20px;
}

.row .lbox {
    width: 50%;
}

.row .rbox h3 {
    font-size: 30px;
}

.row .rbox .button a {
    background-color: #fff;
    padding: 7px 20px 13px;
    font-size: 20px;
    color: #000;
    border: 1px solid #000
}

.row .rbox .button a:hover {
    background-color: #d0d0d3;
}

.row img {
    width: 100%;
}

.card {
    width: calc(100% / 3);
    height: 650px;
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 30px;
    padding: 20px 0;
}

.card p {
    font-size: 20px;
}

.card p a {
    color: black;
}

.clienti h3 {
    font-size: 30px;
}

.clienti h3 a {
    color:#0061ff;
    margin: 50px 0;
    display:inline-block;
    padding-bottom: 25px;
}

.bigrow {
    width: 100%;
    height: 500px;
}

.bigrow .box {
    width: calc(100% / 3);
    height: 100%;
}

.bigrow .box [class^="minibox"] {
    width: 50%;
    height: 50%;
    position: relative;
}

.bigrow .box [class^="minibox"] img {
    width: 60%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.bigrow .box [class^="minibox"].active {
    border: 10px solid rgba(255, 255, 255, 0.7)
}

.bigrow .box [class^="minibox"].active img {
    width: calc(60% + 10px);
}

.minibox1 {
    background-color: #a2d39b;
}

.minibox2 {
    background-color: #61082b;
}

.minibox3 {
    background-color: #0093ce;
}

.minibox4 {
    background-color: #ff1c1c;
}

.minibox5 {
    background-color: #d5001f;
}

.minibox6 {
    background-color: #b4d0e7;
}

.minibox7 {
    background-color: #0d2481;
}

.minibox8 {
    background-color: #ffd830;
}

.box.mid {
    background-color: #f5f5f5;
    padding: 60px;    
}

.box.mid img {
    width: 40%;
}

.box.mid .line {
    content: '';
    width: 20%;
    height: 1px;
    border-bottom: 1px solid #e2e2e4;
    padding: 20px 0;
}

.box.mid p {
    padding-top: 40px;
    font-size: 20px;
}

.box.mid p span {
    display: block;
    padding-top: 20px;
}

section[class^="prova"] {
    background-color: #b4d0e7;
}


section[class^="prova"] .bigrow {
    height: 250px;
    width: 80%;
    position: relative;
}

section[class^="prova"] .bigrow .lbox{
    width: 50%;
}

section[class^="prova"] .bigrow .rbox {
    width: 30%;
    position: absolute;
    right: 0px;
    top: 35%;
}

section[class^="prova"] .bigrow h2 {
    color: #61082b;
}

section[class^="prova"] .bigrow .button a:not(.inline) {
    background-color: #fff;
    color: #000;
    padding: 5px 50px 7px;
    font-size: 20px;
}

section[class^="prova"] .bigrow .button a:hover {
    background-color: lightgray;
}

section[class^="prova"] .bigrow span {
    display:block;
    font-size: 16px;
    padding: 20px 0;
}

section[class^="prova"] .bigrow span a {
    color:black;
}

.faq h3 {
    font-size: 40px;
    padding-top: 50px;
}

.faq ul {
    font-size: 25px;
    list-style-type: none;
    padding: 50px 0;
}

.faq ul li {
    padding:20px 0;
    border-top: 1px solid black;
    position:relative;
}

.faq ul li:last-child {
    border-bottom: 1px solid black;
}

.faq ul li i {
    text-align: right;
    position:absolute;
    right:0px;
    bottom:30%
}

/* Debug */
/* .debug .col { */
    /* height: 900px; */
    /* border: 2px dashed palevioletred;
} */

/* .debug .box {
    background-color: gray;
} */