/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button a{
    text-decoration: none;
}

/* Font */
.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

.grotesque {
    font-family: 'Darker Grotesque', sans-serif;    
}

/* Float */
.clearfix::after {
    content: '';
    display: table;
    clear:both
}

.floatl {
    float: left;
}

.floatr {
    float:right;
}

/* Box */
.lbox {
    width: 50%;
}

.rbox {
    width: 50%;
}

/* Header */
header {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0px;
    z-index: 900;
    border-bottom: 1px solid #d0d0d3;
}

/* Header - logo */
header .logo {
    height: 100%;
    width: 12%;
}

header .logo a {
    height: 100%;
    line-height: 70px;
    text-decoration: none;
    font-size: 25px;
    padding: 0 10px;
}

header .logo a i{
    color:#0061ff;
    vertical-align: middle;
}

header .logo a span {
    font-weight: bold;
    color: #000;
}

/* header - nav */
header nav {
    width: 73%;
    height: 100%;
    line-height: 70px;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 28px 0;
}

header ul li:hover a{
    border-bottom: 2px solid #000;
}

/* header - bottone */
header .buttonholder {
    width: 10%;
    height: 100%;
}

header .buttonholder a:hover {
    background-color: skyblue;
}

.buttonholder a {
    background-color: #0061ff;
    color: white;
    height: 100%;
    line-height: 70px;
    text-decoration: none;  
    font-size: 20px;
    margin: 0 20%;
    padding: 0 20% 5px;
}

/* Jumbotron */
.jumbotron {
    height: 700px;
    background-color: #b4d0e7;
    width: 100%;
}

.jumbo-container {
    width: 90%;
    margin: 0px 5%;
    height: 100%;
    background-color: transparent;
    position:relative;
}

.jumbo-container h1 {
    font-size: 90px;
    line-height: 1;
    color: black;
    position:absolute;
    top: 100px;
    left: 0px
}

.jumbo-container p {
    padding-top: 20px;
    position: absolute;
    top: 300px;
    left: 0px;
    width: 30%;
    font-size: 25px;
    line-height: 1;
}

.jumbo-button {
    width: 50px;
}

.jumbo-button a {
    position: absolute;
    top:500px;
    left:0px;
    background-color: #0061ff;
    padding: 7px 2% 13px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.jumbo-button:hover a{
    background-color: skyblue;
}

.jumbotron p.small {
    padding: 0;
    font-size: 14px;
    position:absolute;
    top: 550px;
    left:0px;
}

.jumbotron a i {
    color:#0061ff;
    position:absolute;
    top: 600px;
    left: 0px;
    font-size: 80px;
}

.jumbotron img {
    width:65%;
    position:absolute;
    top: 45%;
    right:0px;
}

#piani-container {
    width: 80%;
    margin: 0 10%;
    padding-top: 100px;
}

#piani-container h2 {
    font-size: 60px;
}

/* Main */
.fatturazione {
    width: 100%;
    padding: 50px 0 50px;
    font-size: 20px;
}

.fatturazione span {
    padding: 0 5px;
    cursor: pointer;
}

.fatturazione span:not(:last-child) {
    margin-right: 20px;
}


#sel {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 5px solid #0061ff;
    vertical-align: middle;
}

.unsel {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #d0d0d3;
    vertical-align: middle;
}

#sel, .unsel {
    cursor: pointer;
}

main .piani .col {
    width: calc((100% / 3) - 20px); 
    font-size: 20px;
    border: 1px solid #d0d0d3
}

main .piani .col.mid {
    margin: 0px 30px;
}

main .piani .col p.head {
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 10px;
}

main .piani .col i {
    margin-right: 10px;
}

.col-inside {
    margin: 10%;
}

.col-inside h3 {
    font-size: 30px;
}

.col-inside p {
    color: gray;
    margin-bottom: 10px;
}

.col-inside p strong{
    color: initial;
    display: block;
    padding: 10px 0 5px;
}

.col-inside ul {
    padding: 20px 0;
    list-style-type: none;
}

.col-inside ul li {
    padding: 15px 0;
}

.col-inside ul li span,
.col-inside ul li i {
    display: inline-block;
}

.col-inside ul li span {
    width: 80%;
    vertical-align: text-top;
}


.col-inside li::before {
    margin-right: 10px;
}

.col-inside .button a{
    background-color: #0061ff;
    color: white;
    padding: 5px 25px 8px;
}

.col-inside .button {
    padding-bottom: 15px;
}

.col-inside a {
    color: #0061ff;
}

.col-inside .line {
    content: '';
    width: 20%;
    height: 1px;
    border-bottom: 1px solid #bfbfbf;
    padding: 20px 0;
}

.col-inside h4 {
    padding: 20px 0;
}

.col-inside ul.checked {
    padding-bottom: 20px;
}

.col-inside ul.checked i{
    color: #0061ff;
    vertical-align: middle;
}

/* Debug */
/* .debug .col { */
    /* height: 900px; */
    /* border: 2px dashed palevioletred;
} */

.row.debug {
    height: 500px;
    width: 100%;
    background-color: #0061ff;
}